/* Model CSS */

.modal-content {
    width: 400px;
    padding: 25px;
}

.modal-header {
    border-bottom: 0;
}

.form-group input{
    padding-right:40px;
}

.submit-button {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
    border: none;
    background-color: #1d7a8c;
    color: white;
    border-radius: 40px;
}

.icon-textbox {
    position: relative;
}

.icon-textbox img {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
}

/* Modal Logout */
#exampleLogout .modal-content, #sessionexpired .modal-content{
    padding: 0;
}
.success-icon .img-wrapper{
    background-color: #67b644;
    display: flex;
    width: 75px;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 50px;
    margin: 10px auto;
}
.success-icon .img-wrapper img{
    width: 28px;
}
.success-msg{
    margin: 0 0 20px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 42px;
    text-align: center;
    color: #686867;
}
#exampleLogout .modal-footer, #sessionexpired .modal-footer{
    justify-content: center;
}
.modal-footer button{
    background-color: #1d7a8c;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 7px 18px;
}