@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-image{
    background: none;
    background-color: #F9F9F9;
    height: 120px;
    text-align: center;
    font-size: 30px;
    line-height: 120px;    
}

@media screen and (max-width:415px) {
    .header-image{
        display: block;
    }
}

/*############### section sp dashboard ##############*/

#section-spdashboard{
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
}

.div-main{
    height: 90vh;
}

.div-sidebar{
    height: 100%;
    width: 250px;
    float: left;
    background-color: #1d7a8c;
}
.div-sidebar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 17px 15px;
    font-size: 18px;
    line-height: 20px;
    border-bottom: 1px solid white;
    color: white;
}

.div-sidebar .active{
    background-color: #146371;
}

.div-content{
    margin-left: 250px;
    padding-left: 30px;
}

#upcomingservice table tr div img{
    margin-right: 5px;
}
#upcomingservice table thead{
    height: 50px;
    background-color:#f9f9f9;
}
#upcomingservice table thead th{
    cursor: pointer;
}
#upcomingservice table thead th img{
    margin-left: 5px;
}
#upcomingservice table tbody td{
    line-height: 26px;
}

#upcomingservice table tbody{
    border-top: 0;
    color: #646464;
}

.btn-cancel button{
    width: 80px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: white;
    border-radius: 17px;
    padding: 5px 10px;
    box-shadow: none;
    border: none;
    margin-top: 8px;
}

@media screen and (max-width:991px) {
    #section-spdashboard{
        padding: 30px 0;
        width: 95%;
        margin: 0 auto;
    }
    .div-sidebar{
        display: none;
    }
    .div-content{
        margin-left: 0px;
        padding-left: 0px;
    }
    .div-main{
        height: 100%;
    }
}

/*------------ Modal Service Cancel  --------------*/

.modal-section-map iframe{
    height: 100%;
    width: 100%;
}
.modal-section-body div p{
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 18px;
}
.modal-section-body .m-time{
    font-size: 26px;
}
.modal-section-body .fa-times-circle-o{
    color: rgb(255, 0, 0);
}
.modal-button{
    padding-top: 7px;
}
.modal-button button{
    width: 130px;
    border-radius: 25px;
    padding: 8px 10px; 
    color: white;
    border: none;
}
.modal-button button i{
    margin-right: 5px;
}
.modal-button-cancel{
   background-color: #ff6b6b; 
}
.modal-button-complete{
    background-color: #348588;
}

.modal-section-body .m-currency{
    font-size: 32px;
    color: #348588;
    font-weight: 700;
}
.modal-section-body hr{
    margin: 6px 0;
}
.m-head{
    font-weight: 500;
}

#exampleModalServiceCancel .modal-content{
    width: 1000px;
}
#exampleModalServiceCancel .modal-dialog{
    max-width: 1000px;
}

@media screen and (max-width:664px) {
    table{
       border-collapse: separate;
       border-spacing: 20px;
    }
    #upcomingservice table thead{
        height: 0;
    }
    thead tr{
        display: none;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.514);
    }
    tbody tr td{
        padding-left: 8px;
    }
    .div-main{
        padding:0;
    }
}
